body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f0f0f;
    color: white;
    text-align: center;
}

header {
    padding: 100px 20px;
}

h1 {
    font-size: 48px;
}

p {
    max-width: 700px;
    margin: 20px auto;
    font-size: 18px;
}

.btn {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 25px;
    background: #3a7bff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}
